<?xml version='1.0' encoding='utf-8'?>
<widget id="org.metronav" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Namma Metro Navigation </name>
    <description>Namma Metro Navigator App</description>
    <author email="punit461bhardwaj@gmail.com" href="https://github.com/punit461/metro_nav">
        Punit Bhardwaj
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="GradleVersion" value="8.13" />
        <preference name="AndroidGradlePluginVersion" value="8.0.0" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </platform>
    <allow-navigation href="about:*" />
</widget>
